@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito+Sans:wght@200&display=swap');
/* body {
	display: grid;
} */

.container {
	background: linear-gradient(to bottom, gray, 1%, white);
	display: grid;
	grid-template-columns: 7.5% 40% 5% 30% 17.5%;
	grid-template-rows: 100px 55px 40px 55px 25px 25px;
	grid-gap: 2rem;
	font-family: 'Nunito Sans', sans-serif;
}

.header {
	display: grid;
	justify-content: center;
	align-content: center;
	width: 100vw;
	background-color: mediumaquamarine;
}

#title {
	color: white;
	display: flex;
	font-family: 'Bebas Neue', cursive;
	font-size: 60px;
}

/* budget container */
.budget-container {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
}

.budget-form {
	display: flex;
	justify-content: left;
}

#budget-field {
	display: inline;
	/* margin-right: 10px; */
	height: 25px;
	margin-right: 13px;
	width: 100%; 
}

#submit-budget {
	display: inline;
	height: 30px;
	width:	100px;
	/* margin-right: 50px; */
}

#submit-budget:hover {
	box-shadow: 2px 2px 2px grey;
}


/* budget container 2 */
.budget-container-2 {
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 2;
}

.budget-form-2 {
	display: flex;
	align-items: center;
	justify-content: left;
	width: 100%;
}

#budget-text {
	display: inline;
	font-size: 25px;
	margin-right: 5px;
	
}

#budget-display {
	display: inline;
	font-size: 25px;
	color:forestgreen;
}

/* expense container */
.expense-container {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
}

.expense-form {
	display: flex;
	align-items: center;
	justify-content: left;
}

#expense-field {
	display: inline;
	margin-right: 13px;
	height: 25px;
	width: 72%;
}

#submit-expense {
	display: inline;
	width: 100px;
	height: 30px;
}

#submit-expense:hover {
	box-shadow: 2px 2px 2px grey;
}

/* expense container 2 */
.expense-container-2 {
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 4;
}

.expense-form-2 {
	display: flex;
	justify-content: left;
	width: 100%;
}

#expense-text {
	font-size: 25px;
	margin-right: 5px;
}

#expense-display {
	display: inline;
	text-align: center;
	font-size: 25px;
	color: red;
}

/* expense description */
.expense-description-container {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 4;
}

.expense-description-form {
	display: flex;
	justify-content: left;
}

#expense-description-field {
	display: inline;
	margin-right: 10px;
	height: 25px;
	width: 100%;
}

/* expense list container */
.expense-list-container {
	grid-row-start: 5;
	grid-column-start: 2;
	grid-column-end: 3;
}

.expense-list-form {
	display: flex;
	justify-content: center;
}

#expense-list {
	list-style: none;
	align-items: center;
}

#expense-list-text {
	font-size: 25px;
}

/* expense items */
.expense-list-container-2 {
	grid-row-start: 6;
	grid-column-start: 2;
	grid-column-end: 3;
}

.expense-list-form-2 {
	display: flex;
	margin-top: -10px;
	justify-content: center;
	align-items: center;
}

.expense-list-item {
	display: flex;
	height: 35px;
	width: 250px;
	align-items: center;
	justify-content: space-between;
	padding: 5px 10px 5px 10px;
	border: 2px solid darkgrey;
	margin-left: -45px;
	margin-bottom: 10px;
}

.delete-expense-item {
	/* justify-content: space-around; */
	/* margin-left: 135px; */
	border: 1px solid gray;
	border-radius: 3px;
	color: red;
	place-items: center;
}

.delete-expense-item:hover {
	box-shadow: 2px 2px 2px grey;
}

/* balance container */
.balance-container {
	grid-column-start: 4;
	grid-row-start: 5;
	justify-content: center;
}

.balance-form {
	display: flex;
	justify-content: left;
}

#balance-text {
	display: inline;
	margin-right: 5px;
	font-size: 25px;
}

#balance-display {
	display: inline;
	font-size: 25px;
}

.hidden {
	display: none;
}

.warning {
	border: 2px solid red;
	border-radius: 2px;
	color: red;
}